<div class="callout">
    <% posts.forEach(function (post, i) { %>

        <a href="<%- url_for(post.path) %>">
            <div class="row">
                <div class="column small-12 medium-5">
                    <span class="a"><%- post.title %></span>
                </div>
                <div class="column small-12 medium-7">
                    <%- post.excerpt %>
                </div>
            </div>
        </a>

        <% if (i < (posts.length-1)) { %>
            <hr>
        <% } %>
    <% }) %>
</div>