<table class="posts">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </td>
    </thead>
    <tbody>
        <% posts.forEach((post) => { %>
        <tr>
            <td>
                <a href="<%- url_for(post.path) %>"><%= post.title %></a>
            </td>
            <td>
                <!-- Excerpt with HTML removed -->
                <%= post.excerpt.replace(/\s*<[^>]+>\s*/g, '') %>
            </td>
        </tr>
        <% }) %>
    </tbody>
</table>

<% if (locals.tableConfig) { %>
<script>
    // Apply custom datatable config to the posts table.
    $('table').last().data('tableConfig', <%- JSON.stringify(tableConfig) %>);
</script>
<% } %>