<%
    // Process posts into datatable data.
    var data = [];
    posts.forEach((post) => {
        data.push([post.title, post.excerpt.replace(/\s*<[^>]+>\s*/, '')]);
    });

    config = _(config).extend({
        data: data
    });
%>

<table class="posts">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </td>
    </thead>
</table>

<script>
    // Apply custom datatable config to the above
    // table.
    $('table').last().data('dt_config', <%- JSON.stringify(config) %>);
</script>