@import 'colors';

// Anchored Div
// ============

a {
    >div {
        color: $body-font-color;

        &:hover {
            background-color: $primary-hover;
            box-shadow: 0 0 0 0.5rem $primary-hover;
        }
    }
}


// Articles
// ========

article {
    padding: 10px 10%;
}

article header {
    @extend .callout;

    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;

    padding-left: 0;
    padding-right: 0;
}