@import 'colors';
@import 'settings';
@import 'components/callout';

// Anchored Div
// ============

a {
    >div {
        color: $body-font-color;

        &:hover {
            background-color: $primary-hover;
            box-shadow: 0 0 0 0.5rem $primary-hover;
        }
    }
}


// Articles
// ========

article {
    padding: 10px 10%;
}


// Tables
// ======

table {
    @extend .callout;
    border-collapse: separate;
}

tr {
    &:not(:last-child) >td {
        border-bottom: $callout-border;
    }

    &:not(:first-child) >td {
        padding-top: 1rem;
    }
}


// Search Boxes
// ============

input[type="search"] {
    font-size: 0.75rem;
}