@import 'colors';

// Anchored Div
// ============

a {
    >div {
        color: $body-font-color;

        &:hover {
            background-color: $primary-hover;
            box-shadow: 0 0 0 0.5rem $primary-hover;
        }
    }
}

article {
    padding: 10px 10%;
}