@import 'colors';
@import 'settings';


// Top Bar
// =======

#top-bar {
    @extend .top-bar;

    margin-bottom: 10px;
    text-align: center;

    @include breakpoint(medium) {
        text-align: unset;
    }

    &.l-home {
        text-align: center;
    }

    ul {
        display: inline-block;
    }
}

#top-bar-title {
    color: $primary;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 0;

    .l-home & {
        color: rgba($primary, 0.8);
        text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
        font-size: 4rem;
    }
}


// Face Menu
// =========

#button1, #button2, #button3 {
    font-size: rem-calc(map-get(map-get($header-sizes, medium), h1));
}

$face-width: rem-calc(250px);
$bubble-width: rem-calc(150px);
$bubble-margin: rem-calc(30px);

#face-wrapper {
    text-align: center;

    @include breakpoint(medium) {
        position: relative;
        left: 50%;

        width: $face-width+$bubble-width+$bubble-margin;
        margin-left: -($bubble-width+$bubble-margin+($face-width/2));
    }
}

#face {
    width: $face-width;

    @include breakpoint(medium) {
        float: right;
    }
}

#bubble {
    @extend .callout;

    width: 50%;
    margin: $bubble-margin auto;
    border-radius: 1rem;
    border-width: rem-calc(3px);
    padding: 0.3rem;

    @include breakpoint(medium) {
        width: $bubble-width;
        margin-right: $bubble-margin;
        float: right;
    }
}

#bubble-arrow {
    position: absolute;
    top: rem-calc(-41px);
    right: 50%;
    transform: rotate(-90deg) translateY(25%);

    color: rgba($black, 0.25);
    font-size: 2rem;

    @include breakpoint(medium) {
        top: 65%;
        right: rem-calc(-25px);
        transform: none;
    }
}


// Post Date
// =========

#date {
    font-size: 0.75em;
}


// Post Tags
// =========

#tags { }

.tags-tag {
    float: left;
    margin-right: 10px;
}

#tags-title {
    @extend .tags-tag;
    font-weight: bold;
}

#tags-end {
    clear: both;
}