@import 'colors';


// Top Bar
// =======

#top-bar {
    @extend .top-bar;
    margin-bottom: 10px;

    &.l-home {
        text-align: center;
    }
}

#top-bar-title {
    color: $primary;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 0;

    .l-home & {
        color: rgba($primary, 0.8);
        text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
        font-size: 4rem;
    }
}


// Post Date
// =========

#date {
    font-size: 0.75em;
}


// Post Tags
// =========

#tags { }

.tags-tag {
    float: left;
    margin-right: 10px;
}

#tags-title {
    @extend .tags-tag;
    font-weight: bold;
}

#tags-end {
    clear: both;
}