// Callout Header
// ==============

.callout-header {
    @extend .callout;
    margin-bottom: 0;
    font-weight: bold;
    border-bottom-width: 0;
}


// Posts
// =====

.posts {
    thead {
        display: none;
    }
}

.posts-date {
    @extend .small;
    display: block;
    white-space: nowrap; 
    text-align: center;
}


// Tags
// ====

.tag {
    float: left;
    margin-right: 10px;
}


// DataTables
// ==========

.dataTables_paginate {
    @extend .button-group, .small;
    float: right;
}

.paginate_button {
    @extend .button;
}

.dataTables_filter {
    input[type="search"] {
        @extend .small;
        width: 100%;

        @include breakpoint(medium) {
            width: 200px;
            float: right;
        }
    }
}