@import 'colors';

.callout-header {
    @extend .callout;
    margin-bottom: 0;
    font-weight: bold;
    border-bottom-width: 0;
}

.content {
    @extend article;
}

.posts {
    thead {
        display: none;
    }
}


// DataTables
// ==========

.paginate_button {
    @extend .button;
}

.dataTables_filter {
    input[type="search"] {
        
    }
}