// Callout Header
// ==============

.callout-header {
    @extend .callout;
    margin-bottom: 0;
    font-weight: bold;
    border-bottom-width: 0;
}


// Posts
// =====

.posts {
    tbody:not(:last-child) {
        .posts-date {
            border-bottom: $callout-border;
        }

        .posts-excerptsmall {
            border-bottom: $callout-border;
        }

        .posts-excerptlarge {
            border-bottom: $callout-border;
        }

        @include breakpoint(medium) {
            .posts-name {
                border-bottom: $callout-border;
            }
        }
    }

    tbody:not(:first-child) {
        .posts-date,
        .posts-name,
        .posts-excerptlarge {
            padding-top: 1rem;
        }
    }
}

.posts-search {
    width: 100%;

    @include breakpoint(medium) {
        width: auto;
        float: right;
    }
}

.posts-pages {
    &, div {
        float: right;
    }
}

.posts-indexes {
    
}

.posts-date {
    @extend .small;
    white-space: nowrap; 
    text-align: center;
}

.posts-name {
    // No styles
}

.posts-excerptsmall {
    display: table-cell;

    @include breakpoint(medium) {
        display: none;
    }
}

.posts-excerptlarge {
    display: none;

    @include breakpoint(medium) {
        display: table-cell;
    }
}


// Tags
// ====

.tag {
    float: left;
    margin-right: 10px;
}


// DataTables
// ==========

.dataTables_paginate {
    @extend .button-group, .small;
    float: right;
}

.paginate_button {
    @extend .button;
}

.dataTables_filter {
    input[type="search"] {
        @extend .small;
        width: 100%;

        @include breakpoint(medium) {
            width: 200px;
            float: right;
        }
    }
}