@charset 'utf-8';
@import 'foundation/settings';


// Colors
// ======

$primary: map-get($foundation-palette, primary);


// Index
// =====

.index.top-bar h1 {
    color: rgba($primary, 0.8);
    text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
    font-size: 4rem;
}