<div id="menu-wrapper">
    <div id="menu">
        <div class="row column" id="button3-wrapper">
            <a class="button radius" id="button3">play</a>
        </div>
        <div class="row">
            <div class="small-3 column">
                <div class="row column" id="button2-wrapper">
                    <a class="button radius" id="button2">write</a>
                </div>
            </div>

            <div class="small-6 column" id="face-wrapper">
                <img id="face" src="assets/face/idle1.jpg">
            </div>

            <div class="small-3 column">
                <div class="row column" id="button4-wrapper">
                    <a class="button radius" id="button4">code</a>
                </div>
            </div>
        </div>
    </div>

    <div id="arrow">
        <i class='fi-arrow-down'></i>
    </div>
</div>

<div id="recent-posts">
    <h2>recently...</h2>
    <%- 
        partial('_partials/list_posts', {
            posts: site.posts.limit(theme.recent_posts)
        })
    %>
</div>