<!--
 Index Top Bar
-->
<div class="top-bar text-center">
    <h1>janderland</h1>
</div>

<!--
 Floating head menu
-->
<div>
    <div>
        <div class="row column text-center no-wrap">
            <a class="button radius h3" id="button2"><i class="fi-music"></i></a>
        </div>
        <div class="row column text-center no-wrap">
            <a class="button radius h3 align-top" id="button1"><i class="fi-pencil"></i></a>
            <img class="align-top" id="face" src="assets/face/idle1.jpg">
            <a class="button radius h3 align-top" id="button3"><i class="fi-laptop"></i></a>
        </div>
    </div>
</div>

<!--
 Recent Posts
-->
<div class="content">
    <h3>recently...</h3>
    <%-
        partial('_partials/list_posts', {
            posts: site.posts.limit(theme.recent_posts)
        })
    %>
</div>