<!--
 Index Top Bar
-->
<div class="top-bar text-center index">
    <!-- TODO: use site variable -->
    <h1>janderland</h1>
</div>

<!--
 Floating head menu
-->
<div id="menu-wrapper">
    <div class="row column text-center no-wrap">
        <ul class="menu expanded">
            <li><a class="h1" id="button1"><i class="fi-pencil"></i></a></li>
            <li><a class="h1" id="button2"><i class="fi-music"></i></a></li>
            <li><a class="h1" id="button3"><i class="fi-laptop"></i></a></li>
        </ul>
    </div>
    <div class="row column text-center">
        <img class="align-top" id="face" src="assets/face/idle1.jpg">
    </div>
</div>

<!--
 Recent Posts
-->
<div class="content">
    <div class="callout header secondary">
        <div class="row column">
            New Stuff
        </div>
    </div>
    <%-
        partial('_partials/list_posts', {
            posts: site.posts.limit(theme.recent_posts)
        })
    %>
</div>