<!DOCTYPE html>
<html>
    <head>
        <%- partial('_partials/css') %>

        <%  // Get page title
            var title = ''
            if (page.title) {
                title = page.title+'|'
            }
            title += 'JanderLand'
        %>
        <title><%= title %></title>
    </head>
    <body>
        <%- body %>
        <%- partial('_partials/js') %>
    </body>
</html>