<article>
    <header>
        <h1>search <i class="fi-magnifying-glass subheader"></i></h1>
    </header>
    <%-
        partial('_partials/posts', {
            posts: site.posts
        })
    %>
</article>