<%
    var meta = site.metas[page.tag];
%>

<article>
    <header>
        <h1>
            <%= page.tag %>
            <i class="fi-price-tag subheader" title="tag"></i>
        </h1>
        
        <% if (meta) { %>
        <hr>
        <% } %>
    </header>

    <% if (meta) { %>
    <%- meta %>
    <hr>
    <% } %>

    <%- 
        partial('_partials/posts', {
            posts: page.posts
        })
    %>
</article>