#menu-wrapper {
  width: 100%; }

#button1-wrapper {
  text-align: right; }

#button2-wrapper {
  text-align: center; }

#button3-wrapper {
  text-align: left; }

#face-wrapper {
  text-align: center; }

#face {
  max-height: 50vh; }

#arrow {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  font-size: 3rem;
  color: #2199e8; }

#recent-posts {
  width: 100%;
  padding: 10px 10%; }

#recent-posts > h2 {
  margin-left: 1rem; }
